#cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #141526;
	z-index: 9999;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: impact;
}


/* Basic styles */

#cover h1 {
	font-size: 500%;
	position: relative;
}

#cover h1 span {
	position: absolute;
	top: 0;
	right: 0;
	background: #1d1f20;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards, cursor 1s infinite;
	animation: typing 3s steps(16) forwards, cursor 1s infinite;
}


/* Animation */

@-webkit-keyframes typing {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

@-webkit-keyframes cursor {
	50% {
		border-color: white;
	}
}

@keyframes typing {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

@keyframes cursor {
	50% {
		border-color: white;
	}
}