body{display:none}
htm{background:black;padding:60px 20px;border:1px solid red;font-weight:bold;text-align:center;color:red}
html:before{content:'Kakle follow koro kintu tar creativity nijer name caliye deoya ke chor bole || WIKIBN.COM';height:100%;top:30%;left:20px;position:relative;color:red;padding;0 20px;font-weight:bold}